<div class="container">
  <h3 class="mt-3" id="title"> Carrito</h3>
    <p>Estos son los productos que tienes en el carro actualemente <button type="button" class="btn btn-light btn-sm" routerLink="/principal">Agregar más</button></p>
    <hr>
</div>
<div class="row mb-1 mt-3">
  <div class="col-md-6 mb-1 mb-md-4">
    <div class="card border-left-primary shadow h-100 py-2 ml-2 mr-2">
      <div class="card-body pt-0 pb-0 pt-sm-3 pb-sm-3">
        <div class="row no-gutters align-items-center ">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Te llevas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{cantidad_total}} bultos</div>
          </div>
          <div class="col-auto">
            <h3><i class="bi bi-list-check"></i></h3>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-1 mb-md-4">
    <div class="card border-left-success shadow h-100 py-2 ml-2 mr-2">
      <div class="card-body pt-0 pb-0 pt-sm-3 pb-sm-3">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Deberas pagar</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{costo_total}}</div>
          </div>
          <div class="col-auto">
            <h3><i class="bi bi-cash"></i></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-1 mb-md-4">
    <div class="card border-left-info shadow h-100 py-2 ml-2 mr-2">
      <div class="card-body pt-0 pb-0 pt-sm-3 pb-sm-3">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Apostaste fuerta al
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{mejor_producto?.name}}</div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <h3><i class="bi bi-emoji-sunglasses"></i></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-1 mb-md-4">
    <div class="card border-left-warning shadow h-100 py-2 ml-2 mr-2">
      <div class="card-body pt-0 pb-0 pt-sm-3 pb-sm-3">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Fecha</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fecha}}</div>
          </div>
          <div class="col-auto">
            <h3><i class="bi bi-calendar-week"></i></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="errores bg-warning" *ngFor="let producto of productosSinStock">
  <p>La cantidad a comprar de <b>{{producto}}</b> supera el stock disponible.
    </p>
</div>

<div class="errores bg-warning" *ngIf="productosSinStock.length !== 0">
  <p><b>De igual forma podrá confirmar la compra y se estaran comunicando con usted para informarle sobre cuando se repondrá cada producto faltante de stock de su carrito.</b></p>

</div>

<!-- <div class="table-responsive mb-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio unitario (bulto)</th>
        <th scope="col">Cantidad (bultos)</th>
        <th scope="col">Precio parcial</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let producto of lista_productos_en_carrito">
        <th>{{producto.name}}</th>
        <td>$ {{producto.price*producto.bulto}}</td>
        <th>{{producto.cantidad}}</th>
        <td>$ {{(producto.price*producto.bulto)*producto.cantidad}}</td>
        <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-danger" (click)="onClickBorrar(producto)">
              <a type="radio" data-toggle="tooltip" data-placement="top" title="Eliminar todos bultos de este producto">
                <i class="bi bi-trash"></i></a>
            </label>
            <label class="btn btn-secondary text-white" (click)="onClickQuitar(producto)">
              <a  type="radio" data-toggle="tooltip" data-placement="top" title="Quitar un bulto"> <i
                  style="font-size: 12x;" class="bi bi-dash"></i></a>
            </label>
            <label class="btn btn-success" (click)="onClickAgregar(producto)">
              <a type="radio" data-toggle="tooltip" data-placement="top" title="Agregar un bulto"> <i
                  class="bi bi-plus"></i></a>
            </label>
          </div>
        </td>
      </tr>

      <tr style="color: green;">
        <th>Total</th>
        <td></td>
        <th>{{ cantidad_total }} bultos</th>



        <th>$ {{ costo_total }}</th>
        <td>
          <button class="btn btn-outline-success btn-outline" (click)="confirmar_compra()">Confirmar compra</button>
        </td>
      </tr>


    </tbody>

  </table>
</div> -->


<div class="row card-group ml-1 mr-1">
  <div class="d-flex flex-wrap justify-content-center col-12 col-md-4 p-0 col-sm-6" *ngFor="let producto of lista_productos_en_carrito">
    <div class="card ml-0 mr-0 mb-2 mt-0 col-11 pl-0 pr-0" >
      <div class="card-body p-1">
        <div class="d-flex">
          <div class ="col-3 p-1">
            <img class="card-img-top m-0" [src]="producto.src" alt="" >
          </div>
          <div  class ="col-9 p-1">
            <p class="card-text-title text-dark" style="display: inline; margin-right: 20px; font-weight: 400;">{{producto.name}}</p>
            <p class="mb-0"><small class="text-info ">Precio por bulto ${{producto.price*producto.bulto}}</small ></p>
              <p class="mb-0"><small class="text-info">Cantidad por bulto {{producto.bulto}}</small ></p>


          </div>
        </div>
        <hr class="m-0 mb-3 ">
          <div class="d-flex ">
            <div class=" col-3 p-0 mb-2 mt-2">
              <div class="subtotal" style="text-align:center">$ {{(producto.price*producto.bulto)*producto.cantidad}}</div>

            </div>
            <div class="btn-group btn-group-toggl col-9" data-toggle="buttons" >
              <label class="btn btn-danger" (click)="onClickBorrar(producto)">
                <a type="radio" data-toggle="tooltip" data-placement="top" title="Eliminar todos bultos de este producto">
                  <i class="bi bi-trash"></i></a>
              </label>
              <label class="btn btn-secondary text-white" (click)="onClickQuitar(producto)">
                <a  type="radio" data-toggle="tooltip" data-placement="top" title="Quitar un bulto"> <i
                    style="font-size: 12x;" class="bi bi-dash"></i></a>
              </label>
              <label class="btn bultos btn-primary p-1"> {{producto.cantidad}} </label>

              <label class="btn btn-success" (click)="onClickAgregar(producto)">
                <a type="radio" data-toggle="tooltip" data-placement="top" title="Agregar un bulto"> <i
                    class="bi bi-plus"></i></a>
              </label>
            </div>
          </div>

        </div>
    </div>
  </div>
  <div class="errores bg-success">
 <p class="mb-0">Con una compra superior a los <b>{{siguienteDescuento}} mil pesos obtenés {{descuento +10}}% de descuento. </b>
</p>
  </div>
  <div class="errores bg-success mt-1">
    <p class="mb-0">Actualmente tiene un descuento de <b>${{costoDescontado}} pesos ({{descuento}}% de descuento).</b></p>

  </div>

</div>

<div class="compra_footer">
  <div class="container">
    <hr>
    <p>Precio final: ${{(costo_total-(costoDescontado))}}</p>

    <button class="btn btn-success btn-block"  (click)="confirmar_compra()">Finalizar compra</button>
  </div>
</div>
