.card-group {
  justify-content: center;
}



.paginacion  {
  text-align:center;
  width: 90%;
  margin:auto;
}

.card:hover {
  border: 1px solid lightblue;
}


.card-group > *{
  font-size: 1rem;
  text-align:left;
}

.btn {
  font-size: 1rem;

}

.card-text-title {
  font-size: 1.1rem;
}

.card-text-precio {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto","Helvetica Neue","Arial","sans-serif";
}



/* Increase all font sizes on mobile */
@media (max-width: 767px) {
  .card-group > * {
    /* default is 1rem or 16px */
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  .card-text-title {
    font-size: 0.8rem !important;
  }
  .card-text-precio {
    font-size: 1rem;
  }
}
