<div class="row card-group ml-1 mr-1">
  <div class="d-flex flex-wrap justify-content-center col-6 p-0 col-sm-4" *ngFor="let producto of productos | paginate: { itemsPerPage: 6, currentPage: p }">
    <div class="card ml-1 mr-1 mt-4 col-11 pl-0 pr-0" >
      <img class="card-img-top" routerLink="/productos/{{producto.id}}" [src]="producto.src" alt="" style="width: 100%" >
      <div class="card-body p-1 pl-2" routerLink="/productos/{{producto.id}}">
        <p class="card-text-title text-muted m-0">{{producto.name}}</p>

        <p style="color: white;" class="badge bg-info m-0">Precio por unidad ${{producto.price}}
        </p>
        <p><small class="card-text m-0">Cantidad por bulto {{producto.bulto}}</small></p>
        <hr class="mt-0 mb-1 ">
        <p class="card-text-precio mb-0 text-danger" >${{producto.price*producto.bulto}}</p>

      </div>
      <div class="card-footer text-muted p-0 pb-2 pl-2 pt-2 pr-2" style="text-align: center;">
        <button type="button " class="btn  btn-outline-success btn-block" (click)="agregar_producto_a_carrito(producto)">Añadir al carrito</button>
        <button type="button " class="btn  btn-outline-info btn-block" (click)="mostrar_carrito()" routerLink="/carrito">Ver pedido</button>
      </div>
    </div>
  </div>
</div>

<div class="paginacion mt-4">
<pagination-controls (pageChange)="p = $event"
(click)='onClick();'
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
></pagination-controls>
</div>
