<footer class="page-footer navbar-dark bg-primary">

  <div class="bg-danger">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
          <a href="#" onclick="return false"><i class="fab fa-facebook-f text-white mr-4"></i></a>
          <a href="#" onclick="return false"><i class="fab fa-instagram text-white mr-4"></i></a>
          <a href="#" onclick="return false"class="text-white">Página principal</a>
        </div>
      </div>
    </div>
  </div>



  <div class="container text-center text-md-left mt-5 ">
    <div class="row text-white">
      <div class="col-md-3 mx-auto mb-4 ">
        <h6 class="text-uppercase-font-weight-bold">Productos</h6>
        <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 1px;">
        <ul class="list-unstyled ">
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Ofertas</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Novedades</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Los más vendidos</a></li>
        </ul>
      </div>

      <div class="col-md-3 mx-auto mb-3">
        <h6 class="text-uppercase-font-weight-bold">Nuestra Empresa</h6>
        <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 1px">
        <ul class="list-unstyled">
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Cómo comprar</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Sobre nosotros</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Contacte con nosotros</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Mapa del sitio</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Tiendas</a></li>
        </ul>
      </div>

      <div class="col-md-3 mx-auto mb-3">
        <h6 class="text-uppercase-font-weight-bold">Su cuenta</h6>
        <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 1px">
        <ul class="list-unstyled">
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Información personal</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Pedidos</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Facturas por abono</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Direcciones</a></li>
          <li class="my-2"><a href="" onclick="return false"class="text-white" id="">Mis alertas</a></li>
        </ul>
      </div>




        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase-font-weight-bold">Información de la tienda</h6>
          <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 175px; height: 1px">

            <p class="mt-2">Maycon Mayorista</p>
            <p class="mt-2">Argentina</p>
            <p class="mt-2">Envíenos un correo electrónico: <a class="text-white" onclick="return false" href="mailto:mayoristamaycon@gmail.com" >mayoristamaycon@gmail.com</a></p>
        </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 bg-danger text-white">
    <p>&copy; Todos los derechos reservados 2021 © Maycon Mayorista | CUIT: 27-94947639-7</p>
  </div>




</footer>
