/* .navbar img{
  width:45px;
}


.main {
    width: 50%;
    margin: 50px auto;
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media only screen and (max-width: 700px) {
    nav a{
        font-size: 0.9rem;
    }
} */


.navbar #logo_nav{
    width:45px;
  }

  
 #input_search_producto{
 	width: 100%; 
 	margin-top: 0.3rem
 }

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/*.nav-link {
	color: white !important;
}*/

nav a {
	color: white !important
}

btn:focus, a:focus{
         outline: none;
}

.navbar-toggler:focus{
         outline: none !important;
         box-shadow: none;
}

*:focus {
	outline:none !important
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* .navbar {
	background: linear-gradient(to top left, #0000cc 0%, #3399ff 100%) !important;
} */

.dropdown-menu a{
	color: black !important;
}


 @media only screen and (min-width: 700px) {
	 #input_search_producto{
	 	width: auto; 
	 	margin-top: 0.3rem
	 }

}

@media only screen and (max-width: 700px) {
    nav a{
        font-size: 0.9rem;
    }
}
