<!-- <nav class="navbar navbar-expand-lg navbar-primary bg-primary ">
  <div class="col-md-4 d-flex col-sm-12 pl-0 mb-2">
    <a routerLink="/principal"><img src="../../assets/img/logo-maycon.png"></a>
      <a class="nav-link text-white  mt-1" onclick="return false" routerLink="/principal">Productos</a>
      <a class="nav-link text-white  mt-1" onclick="return false" routerLink="/usuario/perfil">Perfil</a>
      <a class="nav-link text-white mt-1" onclick="return false" routerLink="/carrito">Carrito
        <span class="badge rounded-pill bg-success text-white">{{dataService.cantidad_carrito}}</span>
      </a>
  </div>
  <div class="col-md-4 col-sm-12">
    <form>
      <div class=" has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input style="border-radius: 2px;" type="text" class="form-control "  (keyup)="busca_producto($event)"
        [(ngModel)]="busqueda" name="busqueda"
         placeholder="Qué estás buscando?">
      </div>
    </form>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="d-flex flex-row-reverse bd-highlight  justify-content-center">

      <div class="p-2 bd-highlight mt-1 d-md-block d-none">
        <i style="color: white" class="bi bi-telephone"></i> <a style="color: white">+54 9 11 85967425</a>
      </div>
      <div class="p-2 bd-highlight mt-1 d-md-block d-none">
        <i style="color: white" class="bi bi-person"></i><a style="color: white">Gabe Newell</a>
      </div>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">

    <a class="navbar-brand" onclick="return false" routerLink="/principal"><img id="logo_nav" src="../../assets/img/logo-maycon.png" alt=""> </a>

    <button style="border: none" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-navicon" style="color:white; font-size:20px;"></i>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" onclick="return false" routerLink="/principal"><img style="color: white;" src="../../../assets/img/iconos/harina.png" alt=""> Productos</a>
        </li>
        


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img style="color: white;" src="../../../assets/img/iconos/filtrar.png" alt=""> 
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/alma.png"> Almacen</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/bebida-alcoholica.png"> Bebidas</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/comida-enlatada.png"> Enlatados</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/productos-lacteos.png"> Lacteos</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/herramientas-de-limpieza.png"> Limpieza</a>
            </li>
            <li><a class="dropdown-item" href="#"><img src="../../assets/img/iconos/perfume.png"> Perfumes</a></li>
          </ul>
        </li> 
      

      <li class="nav-item">
        <a class="nav-link text-white" onclick="return false" routerLink="/usuario/perfil">
          <img src="../../../assets/img/iconos/user.png" alt="">
          Perfil</a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link text-white" onclick="return false" routerLink="/ofertas">
          <img src="../../../assets/img/iconos/etiqueta-de-precio.png" alt="">
          Ofertas online
        </a>
      

      <li class="nav-item">
        <a class="nav-link text-white" onclick="return false" routerLink="/carrito">  <img src="../../../assets/img/iconos/carrito-de-compras.png" alt="">
            Carrito
          <span class="badge rounded-pill bg-success text-white">{{dataService.cantidad_carrito}}</span>
        </a>
      </li>
    </ul>
    </div>

    <form id="input_search_producto">
      <div class=" has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input style="border-radius: 2px;" type="text" class="form-control " (keyup)="busca_producto($event)"
          [(ngModel)]="busqueda" name="busqueda" placeholder="Qué estás buscando?">
      </div>
    </form>

  </div>
</nav> 



